header {
    background: #86D2B6;
    display: inline-block;
    width: 100%;
    height: 150px;
}

header h2{
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

header p{
    text-align: center;
    margin-top: -50px; 
    margin-left: 950px;
}
.logout{
    position: relative;
    margin-top: -10px; 
    margin-left: 1100px;
}

.lang{
    margin-top: -10px; 
    margin-left: 20px;
}

body{
    background: #ddd;
    margin: 0px;
    height: 70%;
}

.content{
    margin-left: 5px;
}

footer{
    background-color: #86D2B6;
    text-align: center;
    height: 10%;
    width: 100%;
    position: absolute;
    margin-top: 54%;
    bottom: 0px;
}

.image{                    
    margin-left: 40%;
    margin-top: -100px;
    display: inline-block;
    position: relative;
}